@page "/"
@using ValueAndOnInputIssueRepro.Client.Components
@using ValueAndOnInputIssueRepro.Client.Enums

<PageTitle>All Side by Side</PageTitle>

<h1>Showing all mentioned behaviors side by side:</h1>

<div class="showcase">
    <ShowBehavior Behavior="WhichBehavior.BindValueAndOnInput" />
</div>

<div class="showcase">
    <ShowBehavior Behavior="WhichBehavior.BindValueGetAndSetAndOnInput" />
</div>

<div class="showcase">
    <ShowBehavior Behavior="WhichBehavior.BindValueAndOnChange" />
</div>

@code {
}
