@page "/all-side-by-side"
@using ValueAndOnInputIssueRepro.Client.Components
@using ValueAndOnInputIssueRepro.Client.Enums

<PageTitle>All Side by Side</PageTitle>

<div class="showcase">
    <ShowBehavior Behavior="WhichBehavior.BindValueAndOnInput" />
</div>

<div class="showcase">
    <ShowBehavior Behavior="WhichBehavior.BindValueGetAndSetAndOnInput" />
</div>

<div class="showcase">
    <ShowBehavior Behavior="WhichBehavior.BindValueAndOnChange" />
</div>

@code {
}
