<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Repro for Issue 64284</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Show Behaviors
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/josephvanderharst/value-and-oninput-issue-repro" target="_blank">
                <span class="bi bi-github" aria-hidden="true"></span> Repro Repository
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/dotnet/aspnetcore/issues/64284" target="_blank">
                <span class="bi bi-exclamation-triangle-fill" aria-hidden="true"></span> Issue
            </NavLink>
        </div>
    </nav>
</div>

